/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mukta';
}

#page-container {
    position: relative;
    min-height: 100vh;
}

:root {
    --background-green: #c2f0c2;
    --icon-green: #47d147;
    --darker-white: #fafafa;
}

/* Fonts */
@font-face {
    font-family: 'Mukta-EL';
    src: url('./fonts/Mukta-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta-L';
    src: url('./fonts/Mukta-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta-M';
    src: url('./fonts/Mukta-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta';
    src: url('./fonts/Mukta-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Script';
    src: url('./fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Header';
    src: url('./fonts/Bitter-Bold.ttf') format('truetype');
}

.navbar-link:hover {
    cursor: pointer;
}

.navbar-link-color-animation {
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -ms-transition: color 0.3s;
}

.navbar-link-color-animation:hover {
    color: var(--icon-green);
}

.navbar-link-current {
    /* text-decoration: underline; */
    /* border-bottom: 2px solid var(--icon-green); */
    color: var(--icon-green);
}

.navbar-link-current:hover {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 48px;
    background-color: var(--darker-white);
    box-shadow: 0 10px 100px rgb(0 0 0 / 20%);
}

.navbar-icon {
    max-height: 32px;
}

.page-container {
    background-color: var(--background-green);
    min-height: 100vh;
    padding-top: 48px;
}

.about-semi-header {
    margin: 2rem 0 -1.5rem 0;
    font-family: 'Script';
    font-size: 1.75rem;
    font-weight: 500;
}

.about-header {
    font-family: 'Header';
    font-size: 6rem;
    text-shadow: -3px 4px 2px #a3cca3;
    margin-top: 0rem;
}

.calculate-header {
    font-family: 'Header';
    font-size: 6rem;
    text-shadow: -3px 4px 2px #a3cca3;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.about-header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-card-container {

    gap: 2rem;
    padding: 0 20rem;
}

.card-container {
    background-color: var(--darker-white);
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: -3px 4px 2px #a3cca3;
}

.notification-score {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
    transform: translate(20px, -20px);
    font-family: 'Mukta-M';
    font-size: 1.5rem;
}

.content-header {
    font-family: 'Mukta-M';
    font-size: 1.75rem;
}
.content-header-reverse {
    font-family: 'Mukta-M';
    font-size: 1.75rem;
    text-align: right;
}

.content-img{

}

.content-img-reverse{

    text-align: right;

}

.content-descriptor {
    font-family: 'Mukta-L';
    font-size: 1.25rem;
}

.doughnut-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    width: 20%;
}

.title {
    font-family: 'Header';
    text-shadow: -1px 2px 2px #a3cca3;
}

.title-icon {
    font-family: 'Header';
    font-size: 2rem;
    text-shadow: -1px 2px 2px #a3cca3;
}

.content-icon {
    font-family: 'Mukta-L';
    font-size: 1.25rem;
    text-align: left;
}

.caption {
    font-family: 'Mukta-L';
    font-size: 1.1rem;
}

.calculate-descriptor {
    text-align: center;
    padding: 0 20rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
}

.route-descriptor {
    text-align: center;
    padding: 0 20rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.route-map-descriptor {
    text-align: center;
    padding: 0 20rem;
    font-size: 1.25rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.textfield {
    padding: 0.5rem 1rem;
    font-family: 'Mukta';
    font-size: 1.25rem;
    border-radius: 5px;
    transform: translate(0px, 0px);
    transition: transform 0.2s linear;
    box-shadow: -2px 2px 2px #a3cca3;
    transition: box-shadow 0.1s linear;
    border: none;
}

.textfield:focus {
    outline: none;
    box-shadow: -4px 4px 2px #a3cca3;
    transform: translate(2px, -2px);
    transition: transform 0.2s linear;
    transition: box-shadow 0.1s linear;
}

.textfield-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.input-button {
    font-family: 'Mukta';
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: var(--icon-green);
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    margin: 0 auto;
    color: var(--darker-white);
}

.input-button:hover {
    background-color: #70db70;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.back-button {
    font-family: 'Mukta';
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: gray;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    margin: 0 auto;
    color: var(--darker-white);
}

.back-button:hover {
    background-color: DarkGray;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.input-button:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.input-effect {
    border: 0;
    padding: 7px 15px;
    border: 1px solid #ccc;
    position: relative;
    background: transparent;
}

.input-effect ~ .focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}
.input-effect:focus ~ .focus-bg {
    transition: 0.3s;
    width: 100%;
}

.leaf {
    width: 100px;
    position: fixed;
}
.leaf2 {
    bottom: 10%;
    left: -10%;
    animation: blowing 12s 1s linear infinite;
}
.leaf3 {
    bottom: 15vh;
    left: -10%;
    animation: blowing 6s linear infinite;
}
.leaf4 {
    bottom: 8vh;
    left: -10%;
    animation: blowing 9s 2.5s linear infinite;
}
.leaf5 {
    bottom: 2vh;
    left: -10%;
    animation: blowing 15s 0.5s linear infinite;
}
.leaf6 {
    bottom: 7.5vh;
    left: -10%;
    animation: blowing 11s linear infinite;
}
@keyframes blowing {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    20% {
        transform: translate(20vw, -8vh) rotate(170deg);
    }
    55% {
        transform: translate(50vw, -7vh) rotate(550deg);
    }
    80% {
        transform: translate(85vw, -12vh) rotate(740deg);
    }
    100% {
        transform: translate(110vw, -20vh) rotate(920deg);
    }
}

.transportation-icon {
    width: 10vw;
}

.arrow-icon {
    margin: 0 0.5rem;
}

.arrow-icon:hover {
    cursor: pointer;
}

.fade-out {
    animation: fadeOut 1s;
    opacity: 0;
    display: flex;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}
