/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto';
}

body {
    min-height: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

:root {
    --background-green: rgb(187, 237, 181);
}

/* Fonts */
@font-face {
    font-family: 'Mukta-EL';
    src: url('./fonts/Mukta-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta-L';
    src: url('./fonts/Mukta-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta-M';
    src: url('./fonts/Mukta-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Mukta';
    src: url('./fonts/Mukta-Regular.ttf') format('truetype');
}

.navbar-link:hover {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid black;
}
